* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  display: flex;
  width: 960px;
  height: 960px;
  outline: 5px solid black;
  flex-flow: row wrap;
  align-content: flex-start;
}
.container div {
  background-color: white;
  outline: 2px solid black;
}
.box {
  /* background-color: white;
  outline: 2px solid black; */
}
.resize {
  padding: 0.4rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
}
